*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial,Helvetica,sans-serif;

}

body{

background:#f4f4f4;

}

header{

background:#0d8b55;

color:white;

padding:35px;

text-align:center;

}

nav{

background:#055c38;

display:flex;

justify-content:center;

padding:15px;

gap:30px;

}

nav a{

color:white;

text-decoration:none;

font-size:18px;

font-weight:bold;

}

nav a:hover{

color:yellow;

}

.hero{

position:relative;

}

.hero img{

width:100%;

height:500px;

object-fit:cover;

}

.overlay{

position:absolute;

top:50%;

left:50%;

transform:translate(-50%,-50%);

background:rgba(0,0,0,.5);

padding:25px;

color:white;

border-radius:10px;

text-align:center;

}

.container{

width:90%;

margin:auto;

padding:50px 0;

}

.container h2{

text-align:center;

margin-bottom:30px;

color:#0d8b55;

}

.container p{

text-align:justify;

line-height:28px;

}

.card-box{

display:flex;

justify-content:center;

flex-wrap:wrap;

gap:30px;

}

.card{

width:320px;

background:white;

border-radius:12px;

overflow:hidden;

box-shadow:0 5px 15px rgba(0,0,0,.2);

transition:.3s;

}

.card:hover{

transform:translateY(-10px);

}

.card img{

width:100%;

height:220px;

object-fit:cover;

}

.card h3{

padding:15px;

color:#0d8b55;

}

.card p{

padding:0 15px 20px;

}

form{

width:500px;

max-width:100%;

margin:auto;

display:flex;

flex-direction:column;

}

input,textarea{

padding:12px;

margin:10px 0;

border-radius:8px;

border:1px solid gray;

}

button{

padding:12px;

background:#0d8b55;

border:none;

color:white;

font-size:18px;

cursor:pointer;

border-radius:8px;

}

button:hover{

background:#06623c;

}

footer{

background:#055c38;

color:white;

text-align:center;

padding:20px;

margin-top:50px;

}